
body {
    min-height: 100vh;
    margin-bottom: 50px;
}
p {
    margin: 0;
}
#logo-unison {
    width: 125px;
    height: 125px;
}
#logo-unison-small {
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.bienvenida {
    text-align: justify;
}
.bienvenida > h2 {
    font-weight: bold;
}
header > p {
 text-align: center;
}